@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  box-sizing: border-box;
  margin-left: 0;
  padding: 0;
  font-family: "rubik", sans-serif;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

h1,
h2 {
  font-size: 40px;
  line-height: 1.4;
}

p {
  font-size: 17px;
  line-height: 1.4;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
}

.hero {
  background-image: url(./images/3.jpg);
  background-size: cover;
  background-position: center;
  height: 800px;
  overflow: hidden;
}

.darken-bg {
  background-image:linear-gradient(to right, black, rgba(0, 0, 0, 0.5));
  height: 800px;
}

.navbar {
  height: 70px;
  padding: 0 30px;
}

.navbar .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
}

.navbar a {
  padding: 9px;
  color: white;
}

.navbar a:hover {
  border-bottom: 2px solid #57CC99;
}

.navbar h1 {
  font-family: "nunito", sans-serif;
  font-size: 30px;
  color: #57CC99;
}

.center {
  margin: 100px 0;
  text-align: left;
}

.center h1 {
  font-weight: 400;
  font-size: 40px;
}

.center p,
.center h1 {
  font-family: "rubik", sans-serif;
  width: 700px;
}

.greenify {
  color: #57CC99;
}

.redify {
  color: red;
  text-decoration: line-through;
}


.app-stores {
  height: 50px;
  width: 200px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.app-stores img {
  height: 130px;
  width: 100px;
}

.app-stores img:first-child {
  height: 160px;
  width: 130px;
}


.supporting-text {
  margin-top: 30px;
  font-size: 14px;
}

.underline {
  text-decoration: underline;
}

.facts {
  background-color: white;
  position: relative;
  height: 2300px;
  color: black;
}

.fact-section {
  width: 95%;
  height: 1800px;
  background-color: #57CC99;
  position: absolute;
  top: -150px;
  left: 40px;

}

.facts-container {
  height: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px 0;
}

.grid-6 {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}

.grid-6-check {
  display: grid;
  gap: 0px;
  grid-template-columns: 30% 70%;
  align-items: center;
}

.facts img {
  width: 100%;
  height: 100%;
}

.secondary {
  margin-bottom: 0;
}

.checklist {
  margin-top: 0;
  width: 300px;
  height: 100px;
}

.checklist img {
  height: 20px;
  width: 20px;
  margin: 0px 30px;
}

.checklist p {
position: relative;
bottom: 40px;
}



.facts .secondary,
.facts img {
  margin-bottom: 80px;
}

.below-facts {
  position: absolute;
  bottom: 0px;
  margin-left: 600px;
}

.below-facts img {
  width: 100%;
  height: 250px;
  margin-bottom: 0px;
}

.below-facts h3 {
  font-size: 23px;
  color: black;
  text-align: center;
}

.below-facts h1 {
  font-size: 80px;
  color:#57CC99;
  font-family: "Caveat Brush", cursive;
  text-align: center;
}

.final-section {
  background-color: #57CC99;
  height: 2000px;
  width: 100%;
  margin: 0 auto;
}

.mobile {
  padding: 20px 20px;
  margin: 0 150px;
  color: black;
}
.image {
  height: 600px;
}

.mobile-text hr {
  width: 50%;
  margin-left: 0;
  border:1px solid green;
}

.image img {
  height: 100%;
  width: 100%;
}


.grid {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}

.accordion-body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  position: relative;
}

.accordion {
  width: 800px;
  margin: 90px auto;
  color: black;
  background-color: white;
  padding: 45px 45px;
}

.accordion .contentBox {
  position: relative;
  margin: 10px 10px;
}

.accordion .label {
  position: relative;
  padding: 10px 0;
  font-size: 30px;
  color: black;
  cursor: pointer;
}

.accordion .label::before {
  content: '>';
  color: black;
  position: absolute;
  top: 50%;
  right: -5px;
  font-size: 20px;
  transform: translateY(-50%);
}

.accordion .content {
  position: relative;
  background: white;
  height: 0;
  font-size: 20px;
  text-align: justify;
  width: 780px;
  overflow: hidden;
  transition: 0.5s;
}

.accordion hr {
  width: 100;
  margin-left: 0;
  border: 1px solid grey;
}

.accordion .contentBox.active .content {
  height: 150px;
}

.hand {
  margin: 0 auto;
  width: 1000px;
}
.grid-uneven {
  display: grid;
  grid-template-columns: 35% 65%;
  justify-content: center;
  align-items: center;
}

.hand img {
  height: 80%;
}

.hand .text {
  position: relative;
  color: black;
  bottom: 180px;
}
